[workspace]
members = ["crates/nexus-core", "crates/nexus-cli"]
default-members = ["crates/nexus-cli", "crates/nexus-core"]
resolver = "3"

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
strip = "symbols"
panic = "abort"
debug = false
incremental = false
